body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 242, 242);
    background-color: #151B20;
}


.gonflement {
    transition: transform 0.1s ease-in-out;
    
}

.gonflement:hover {
    transform: scale(1.05);
}

/* .card-body {
    background-color: #f0f0f0;
} */

.gonflement .card {
    background-color: #1d2227;
    color: azure;
}

.gonflement a{
    text-decoration: none;
}

/* Couleur de fond du contenu du modal */
.modal-body, .modal-header {
    background-color: #1f262d;
    color: white; /* Texte en blanc pour contraster */
    border: none;
    
}

/* Titre du modal */
 .modal-title {
    color: #ffffff;
}

/* Bouton de fermeture */
.modal-header .btn-close {
    filter: invert(1); /* pour que le bouton soit visible sur fond sombre */
}

/* Lien dans le modal */
.modal-body a {
    color: #4fc3f7;
    text-decoration: underline;
}

.modal-body a:hover {
    color: #81d4fa;
}

