body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 242, 242);
    background-color: #151B20;
}
  
.footer-content {
    max-width: 1200px;         /* Limite la largeur max du contenu */
    margin: 0 auto;            /* Centre le bloc horizontalement */
    padding: 0 30px;           /* Marge interne gauche/droite */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-left {
    font-size: 16px;
  }
  
  .footer-right a {
    color: white;
    font-size: 22px;
    margin-left: 15px;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .footer-right a:hover {
    color: #1da1f2;
    transform: scale(1.2);
  }
  