body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 242, 242);
    background-color: #151B20;
}
  
  h2 {
    background: #1f262d;
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #00bcd4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  h4 {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .text-primary {
    color: #0d6efd !important;
  }
  
  .text-muted {
    color: #ccc !important;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  